@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Merriweather:wght@700&display=swap');

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  margin: 20px 0px 10px 0px;
}

h2 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  margin: 20px 0px 10px 0px;
}

p, span, #credits a {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

img {
  width: 100%;
  display: block;
}

a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 24px;

}

.row {
  margin: 30px auto;
}

#root, #pilot {
  width: 100%;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}

#title {
  text-align: center;
}

#title img {
  display: inline;
  max-width: 140px;
}

#title hr {
  max-width: 700px;
  margin: 30px auto 20px auto;
}

#title__menu {
  margin-bottom: 0px;
}

#title__menu .col-md-4 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#title__menu .col-md-4:first-of-type {
  margin-left: auto;
  border-right: 1px solid black;
}

#title__menu .col-md-4:last-of-type {
  margin-right: auto;
  border-left: 1px solid black;
}

#title__menu a {
  text-align: center;
  padding: 12px 20px;
  border-radius: 30px;
  transition: all 0.5s;
}

#title__menu a:hover {
  color: black;
  background-color: #E1E2DD;
  transition: all 0.5s;
}

#main__image {
  margin: 0px auto;
  max-width: 1300px;
}

#brief {
  margin: 20px auto;
  padding: 0px 20px;
  max-width: 700px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#brief p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.description {
  padding: 0px 80px;
  max-width: 1400px;
}

.description div[class*="col"] {
  padding: 30px;
}

.description p {
  max-width: 1000px;
  text-align: justify;
}

.description .col-md-12 h2 {
  text-align: center;
}

.description__img span {
  width: 80%;
  margin: 0px auto;
  font-size: 18px;
  display: block;
  text-align: center;
}

#delft {
  background-color: #E1E2DD;
  max-width: 100%;
  width: 100%;
  padding-top: 30px;
}

#delft img {
  max-width: 1000px;
  margin: 0px auto
}

#delft p {
  display: block;
  text-align: center;
  width: 100%;
  margin: 20px auto;
}

#toolkit {
  margin: 40px auto;
  max-width: 1000px ;
}

#toolkit .link-button {
  display: block;
  min-width: 200px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 20px auto;
  padding: 15px 25px;
  background-color: #E1E2DD;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 22px;
}

#toolkit img {
  max-width: 100%;
  width: co;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 500px;
}

#events {
  background-color: #E1E2DD;
  padding: 20px 40px;
  margin: 80px auto;
  max-width: 1200px;
}

.event {
  margin: 0px auto;
}

.event .col-md-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  border-right: 1px solid black;
}

.event .col-md-8 {
  padding: 20px 40px;
}

.vertical-wrapper {
  margin: auto;
}

.horizontal-wrapper {
  display: block;
  margin: auto;
  text-align: center;
}

#references p, #references h4{
  font-size: 12px;
}

#references .col-md-12 p {
  margin-bottom: 10px;
  padding-top: 0px !important;
  max-width: 600px !important;
}

#references .col-md-12 {
  margin: 0px auto;
  padding: 0px 30px;
  max-width: 1240px;
}

#references hr {
  border: 1px solid black;
  max-width: 300px;
}

#footnote {
  background-color: #E1E2DD;
  padding: 30px;
  margin-bottom: 0px;
}

#footnote img {
  max-width: 700px;
  margin: auto;
}

#footnote p {
  font-weight: 700;
  text-align: center;
  margin: 0px;
}

#footnote .col-md-6:first-of-type img {
  display: block;
  margin: 0px auto;
  height: 120px;
  width: auto;
}

#footnote .col-md-6:last-of-type {
  display: flex;
}

#footnote .col-md-6 a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0px 20px;
}

#footnote #credits {
  margin: 30px auto 0px auto;

}

#credits {
  font-weight: normal !important;
}

#credits img {
  width: auto;
  height: 40px;
  margin-left: 15px !important;
  padding-left: 15px;
  border-left: 1px solid black;
}

#credits .e {
  height: 13px;
  border: none !important;
  padding: 0px 1px !important;
  margin: 0px !important;
  display: inline;
  vertical-align: baseline;
}

.inline-img {
  display: inline-block !important;
  height: 60px !important;
  margin: 5px auto !important;
}

h2[class*="counter"]{
  padding-left: 10px;
}

h2[class*="counter"]::before {
  position: absolute;
  font-size: 38px;
  border-right: 1px solid black;
  padding-right: 10px;
  content: "*";
  transform: translateX(calc(-100% - 10px));
}

.counter-1::before { content: "1" !important; }
.counter-2::before { content: "2" !important; }
.counter-3::before { content: "3" !important; }

.description--reverse {
  flex-direction: row-reverse;
}

#pilot__video h2 {
  display: block;
  margin: 0px auto 30px auto;
  text-align: center;
}

#pilot__video .col {
  max-width: 1100px;
  margin: auto;
  border-bottom: 1px solid black;
  padding: 50px;
}

#pilot__video video {
  max-width: 1000px;
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

#pilot__brief .col-md-12 {
  padding-top: 0px;
}

#pilot .description__img {
  display: flex;
  flex-direction: column;
}

#pilot .description__img div {
  margin: auto;
}

#pilot .description__img a {
  display: block;
  padding: 10px;
  background-color: #E1E2DD;
  margin: auto;
}

#pilot .col-md-12 p {
  padding-top: 20px;
  max-width: 100%;
}

#pilot .col-md-12 img {
  max-width: 85%;
  margin: auto;
}

#pilot .description__img div:first-of-type {
  margin-top: 0px;
}

@media only screen and (max-width: 576px) {

  #title__menu .col-md-4 {
    width: 100%;
    border: none !important;
    margin: 20px auto;
    padding-bottom: none;
  }

  #brief, #brief p {
    margin-bottom: 0px;
  }

  .description {
    padding: 0px 20px;
  }

  #toolkit {
    padding: 0px 20px;
  }

  #toolkit h1 {
    text-align: center;
  }

  #footnote__image {
    margin: 30px auto 0px auto;
  }

  #credits img {
    border: none;
    margin: 30px auto 15px auto !important;
  }

  .description--reverse {
    flex-direction: row;
  }

  #pilot .col-md-12 {
    padding-bottom: 10px;
  }

  #pilot .description__img div {
    margin: 20px auto;
  }

  .row {
    margin: 0px auto;
  }

  .event .col-md-4 {
    border: none;
  }

  #events, #references {
    margin-bottom: 30px;
  }

  #pilot__video .col {
    padding: 30px 10px;
  }
}